@import "../../css/exports.less";

.side-panel-container {
    width: 500px;
    height: calc(100vh - 80px);
    background: @blueGrey;
    box-shadow: -2px 0px 10px @darkGrey;
    @media screen and (max-width: 1024px) {
        display: none;
    }
}