.coin-container {
    width: 90%;
    min-width: 300px;
    margin: 10px auto;
    min-height: 100px;
    border-radius: 50px;
    background: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dashed yellow;
}