@import "../../css/exports.less";

.coin-container {
    width: 90%;
    min-width: 300px;
    min-height: 100px;
    margin: 10px auto;
    border-radius: 50px;
    background: linear-gradient(220deg, @navy, @grey 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & > .round-icon-wrapper {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        bottom: 3px;
        &:hover {
            border: 2px solid red;
            background: @navy;
            & > .round-icon-symbol {
                color: red;
            }   
        }
        @media screen and (max-width: 600px) {
            background: @pink;
        }
    }

    &:first-child {
        margin: 20px auto 10px auto;
    }

    &:last-child {
        margin: 10px auto 20px auto;
    }
}

.coin {
    position: absolute;
    left: 20px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;

}

.coin-identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 60px;
    margin-left: 7px;
    & > h2 {
        color: @lightBlue;
        @media screen and (min-width: 1024px) {
            font-size: 30px;
        }
    }
    & > p {
        color: @lightBlue;
    }
    @media screen and (min-width: 600px) {
        margin-left: 20px;
    }
}

.coin-avatar {
    width: 40px;
}

.coin-acronym {
    position: relative;
    top: 3px;
}

.coin-name {
    position: relative;
    bottom: 5px;
}

.holding-container {
    cursor: pointer;
    position: absolute;
    height: 100%;
    border: 3px solid @purple;
    box-sizing: border-box;
    border-radius: 50px;
    width: 160px;
    right: 15px;
    padding: 0px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: border 0.5s ease-in-out;
    & > h2 {
        color: @lightBlue;
        font-size: 18px;
    }
    &:hover {
        & > .holding-text {
            color: @green;
        }
        border: 3px solid @green;
    }
    @media screen and (min-width: 600px) {
        width: 200px;
        right: 60px;
        padding: 0px 25px;
        & > h2 {
            font-size: 24px;
        }
    }
    @media screen and (min-width: 1366px) {
        right: 100px;
        padding: 0px 45px;
        width: 250px;
        & > h2 {
            font-size: 24px;
        }
    }
}

.holding-text {
 position: absolute;
 top: 16px;
 color: @purple;
 font-size: 15px;
 transition: color 0.5s ease-in-out;
 @media screen and (max-width: 600px) {
    top: 22px;
    left:15px;
    font-size: 12px;
 }
}

.price-container {
    background: @navy;
    position: absolute;
    right: 0;
    height: 100%;
    border: 3px solid @purple;
    box-sizing: border-box;
    border-radius: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > h2 {
        color: @lightBlue;
        font-size: 18px;
    }

    @media screen and (min-width: 600px) {
        width: 150px;
        & > h2 {
            font-size: 24px;
        }
    }
    @media screen and (min-width: 1366px) {
        width: 200px;
        & > h2 {
            font-size: 24px;
        }
    }
}