//Colors
@darkGrey: #020217;
@blueGrey: #3E496C;
@pencilLead: #596275;
@grey: #37373a;
@navy: #150859;
@darkBlue: #09119B;
@purple:  #786fa6;
@blue: #0C36DC;
@lightBlue: #BCDDFA;
@darkPink: #612D3B;
@pink: #89637F;
@green: #37DB67;
@maroon: #800000;
@mountain: #20bf6b;
@desire: #B53471;


//Fonts
@rajdhani: "Rajdhani", sans-serif;
@rajdhaniBold: "Rajdhani Bold", sans-serif;