@import "./exports.less";


@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Rajdhani-Regular.ttf');
}

@font-face {
    font-family: 'Rajdhani Bold';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/Rajdhani-SemiBold.ttf');
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: @rajdhaniBold;
    letter-spacing: 1.5px;
}

p {
    margin: 0;
    padding: 0;
    font-family: @rajdhani;
    letter-spacing: 1.5px;
}  

.round-icon-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid @lightGrey;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover {
        border: 2px solid @green;
        background: @navy;
        & > .round-icon-symbol {
            color: @green
        }   
    }
}

.round-icon-symbol {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: -1px;
    color: @lightGrey;
    transition: all 0.5s ease-in-out;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.enabled {
    opacity: 1;
    border: 2px solid @green;
}


.modal-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: @transparentBlack;   
    position: fixed;
    z-index: 3;
    @media screen and (min-width: 1024px) {
        height: calc(100vh - 80px);
    }
}

.modal-click-out {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.modal {
    position:  relative;
    z-index: 1;
    box-sizing: border-box;
    width: 90vw;
    height: 90vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 500px;
    max-height: 500px;
    border: 3px solid @blueGrey;
    background: @tranparentBlueGrey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    & > h1 {
        color: @pencilBlueLead;
        @media screen and (max-width: 600px) {
            font-size: 20px;
        }
    }
}

.modal-input {
    width: 90%;
    height: 40px;
    background: @transparentBlack;
    border: none;
    outline: none;
    font-family: @rajdhani;
    font-size: 14px;
    color: @lightBlue;
    box-sizing: border-box;
    padding: 0 20px;
    letter-spacing: 2px;
    margin-top: 10px;
    border-radius: 10px;
    @media screen and (min-width: 600px) {
        font-size: 20px;
        height: 50px;
    }
}

input::placeholder {
    color: @blueGrey;
    font-family: @rajdhani;
  }