@import "./css/exports.less";

.app-container {
    display: flex;
    background: @blueGrey;
    height: calc(100vh - 45px);
    @media screen and (min-width: 1024px) {
        height: calc(100vh - 80px);
    }

}

.portfolio-container {
    width: 100%;
    @media screen and (min-width: 1024px) {
        width: calc(100vw - 500px);
    }
}

.coins-container {
    height: calc(100vh - 45px - 240px);
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    background: linear-gradient(to bottom, @blueGrey 0%, @blueGrey 50%, @pencilLead 100%);
    box-shadow: inset 0 0px 10px black;
    @media screen and (min-width: 1024px) {
        height: calc(100vh - 45px - 280px);
    }
}